// ********* IMPORT STYLES *********

// BASE
@use "abstracts" as *;
@use "base";
@use "components/buttons";

// ********** MAIN STYLE ***********

// GENERAL STYLES

.task__container {
  @include flex-preset(column, center, center);
  width: 100%;
  padding: 3rem 3rem 0;

  @include media(550px) {
    @include flex-preset(row, center, center);
    margin: 2rem 0 1rem;
    height: 4rem;
  }

  #addBtn {
    height: 3.9rem;
    width: 100%;

    @include media(550px) {
      width: auto;
    }
  }
}

#taskInput {
  padding: 1.2rem;
  border: none;
  border-radius: 1rem 1rem 0 0;
  width: 100%;

  @include media(550px) {
    border-radius: 1rem 0 0 0;
    width: 35rem;
  }
}

.primary-button {
  border-radius: 0 0 1rem 1rem;

  @include media (550px) {
    border-radius: 0 1rem 0 0;
  }
}

ul {
  @include flex-preset(column, flex-start, flex-start);
  gap: 1.5rem;
  margin: 4rem 0;
  padding: 0 3rem;

  @include media (550px) {
    padding: 0;
    max-width: 48rem;
  }

  li {
    font-weight: 400;
    width: 100%;
    list-style: none;
    @include flex-preset(row, flex-start, space-between);

    .task__text {
      line-height: 2.2rem;
      margin-right: auto;
    }

    input[type="checkbox"] {
      margin: 0.5rem 1rem 0 0;
    }

    button {
      cursor: pointer;
      padding-left: 2rem;
      margin: 0.5rem 0 0 1rem;
      background-color: transparent;
      border: none;
      display: flex;
      justify-content: center;

      .remove__button {
        height: 1.1rem;
        width: 1.1rem;
      }
    }
  }
}

#clearBtn {
  margin-top: 1rem;
  border-radius: 0 1rem 0 1rem;
}

#counter {
  margin-top: 2rem;
}
