// ********* IMPORT STYLES *********

// BASE
@use "abstracts" as *;
@use "base";
@use "components/buttons";

// ********** MAIN STYLE ***********

// GENERAL STYLES

.task__container {
  @include flex-preset(row, center, center);
  margin: 2rem 0 1rem;
  height: 4rem;

  @media screen and (max-width: 400px) {
    @include flex-preset(column, center, center);
    width: 100%;
    padding: 0 3rem;
  }

  #addBtn {
    height: 3.9rem;
  }
}

#taskInput {
  padding: 1.2rem;
  width: 35rem;
  border: none;
  border-radius: 1rem 0 0 0;

  @media screen and (max-width: 400px) {
    border-radius: 1rem 1rem 0 0;
    width: 100%;
  }
}

.primary-button {
  border-radius: 0 1rem 0 0;

  @media screen and (max-width: 400px) {
    border-radius: 0 0 1rem 1rem;
  }
}

ul {
  @include flex-preset(column, flex-start, flex-start);
  gap: 1.5rem;
  margin: 4rem 0;
  max-width: 48rem;

  @media screen and (max-width: 400px) {
    padding: 0 3rem;
  }

  li {
    font-weight: 400;
    list-style: none;
    display: flex;
    align-items: flex-start;

    .task__text {
      line-height: 2.2rem;
    }

    input[type="checkbox"] {
      margin: .5rem 1rem 0 0;
    }

    button {
      cursor: pointer;
      padding-left: 2rem;
      margin: .5rem 0 0 1rem;
      background-color: transparent;
      border: none;
      display: flex;
      justify-content: center;

      img {
        height: 1.1rem;
        width: 1.1rem;
      }
    }
  }
}

#clearBtn {
  margin-top: 1rem;
  border-radius: 0 1rem 0 1rem;
}

#counter {
  margin-top: 2rem;
}
